input {
  width: 84%;
  margin-left: 18px;
  padding: 5px;
  border-radius: 10px;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  input {
    width: 167px;
    border-radius: 10px;
  }
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #95b8d1;
  border-radius: 30px;
  border: 0;
  margin-top: 20px;
  cursor: pointer;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 10px;
  .delete {
    width: 80px;
    height: 30px;
    background-color: rgb(249, 177, 177);
    border: 0;
    border-radius: 30px;
    float: right;
    cursor: pointer;
  }
}
